<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MyWeb</title>
    <meta name="description" content="mall" />
    <link href="~/Content/css/reset.css" rel="stylesheet" />
    <style>
        header ul li {
            float: right;
            line-height: 60px;
            margin-right: 10px;
        }
    </style>
</head>
<body>
    <div id="header">
        <header style="background-color:deepskyblue;height:60px;width:100%">
            <ul style="list-style:none;">
                <li><a href="#">前台用户</a></li>
                <li><a href="#">管理端用户</a></li>
                <li><a href="#">商品管理</a></li>
                <li><a href="#">订单管理</a></li>
                <li><a href="#">其他</a></li>
            </ul>
        </header>
    </div>
    <div id="content">
        @RenderBody()
    </div>
    <div id="footer">
        <footer style="position:absolute;bottom:0;width:100%;height:50px;text-align:center;background-color:aqua;line-height:50px">
            <p>&copy; 1992 - @DateTime.Now.Year - MyWeb</p>
        </footer>
    </div>
</body>
</html>